$main-color: #092907;
$second-color: #97a57a;
$text-color: #27410dc4;
$bg-color: #cefcad;
$box-shadow: 2px 2px 10px 4px #12430f;

.heading{
    text-align: center;
    h2{
        font-size: 1.8rem;
        text-transform: uppercase;
    }
}

.team_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    .box{
        padding: 20px;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        text-align: center;
        .stars .bx{
            color: $main-color;
        }
        p{
            font-size: 0.938rem;
        }
        h2{
            font-size: 1.2rem;
            font-weight: 600;
            margin: 0.5rem 0 0.5rem;
        }
        img{
            width: 80px;
            height: 80px;
            border: 1px solid $main-color;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .box:hover{
        background: $second-color;
        transform: 0.2s all linear;
    }
}