<section class="form">
    <h2>Form</h2>
<form class="doput">
    <div class="inputs">
        <div class="cell">      
            <input type="text" #box (keyup)="getlook(box.value)" name="look" required class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Enter information for image</label>
        </div>
        <div class="cell">      
            <input type="text" #img (keyup)="getmodel(img.value)" name="model" required class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Enter information for model</label>
        </div>
    </div>
    
    <div class="inputs">
        <form #p="ngForm" (keyup)="getprice(p)">
            <div class="cell">      
                <input type="number" name="price" ngModel  required class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter information for price</label>
            </div>
        </form>
    </div>
</form>

<button (click)="OnClick()" class="put">Make DoPut</button>
</section>