<section class="cart" id="cart">
    <div class="heading">
        <h2>Shop</h2>
    </div>
    <div class="table">
        <table class="cart_table" id="cart_table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="model_img"><img src="assets/watch1.png"></div>
                    </td>
                    <td>
                        <p>Garmin MARQ</p>
                    </td>
                    <td>
                        <div class="btn_container">
                            <button class="cart_qty_plus" type="button" value="+"><i class='bx bx-plus'></i></button>
                            <input type="text" name="qty" min="0" class="qty form_control" value="0">
                            <button class="cart_qty_minus" type="button" value="-"><i class='bx bx-minus'></i></button>
                        </div>
                    </td>
                    <td>
                        <input type="text" value="2590" class="price form_control" disabled>
                    </td>
                    <td align="right">$<span id="amount" class="amount">0</span></td>
                </tr>
                <tr>
                    <td>
                        <div class="model_img"><img src="assets/watch2.png"></div>
                    </td>
                    <td>
                        <p>Garmin Instinct 2 Solar Tactical</p>
                    </td>
                    <td>
                        <div class="btn_container">
                            <button class="cart_qty_plus" type="button" value="+"><i class='bx bx-plus'></i></button>
                            <input type="text" name="qty" min="0" class="qty form_control" value="0">
                            <button class="cart_qty_minus" type="button" value="-"><i class='bx bx-minus'></i></button>
                        </div>
                    </td>
                    <td>
                        <input type="text" value="610" class="price form_control" disabled>
                    </td>
                    <td align="right">$<span id="amount" class="amount">0</span></td>
                </tr>
                <tr>
                    <td>
                        <div class="model_img"><img src="assets/watch3.png"></div>
                    </td>
                    <td>
                        <p>Garmin Instinct 2 Solar</p>
                    </td>
                    <td>
                        <div class="btn_container">
                            <button class="cart_qty_plus" type="button" value="+"><i class='bx bx-plus'></i></button>
                            <input type="text" name="qty" min="0" class="qty form_control" value="0">
                            <button class="cart_qty_minus" type="button" value="-"><i class='bx bx-minus'></i></button>
                        </div>
                    </td>
                    <td>
                        <input type="text" value="490" class="price form_control" disabled>
                    </td>
                    <td align="right">$<span id="amount" class="amount">0</span></td>
                </tr>
                <tr>
                    <td>
                        <div class="model_img_extra"><img src="assets/watch4.png"></div>
                    </td>
                    <td>
                        <p>Amazfit T-Rex Army</p>
                    </td>
                    <td>
                        <div class="btn_container">
                            <button class="cart_qty_plus" type="button" value="+"><i class='bx bx-plus'></i></button>
                            <input type="text" name="qty" min="0" class="qty form_control" value="0">
                            <button class="cart_qty_minus" type="button" value="-"><i class='bx bx-minus'></i></button>
                        </div>
                    </td>
                    <td>
                        <input type="text" value="360" class="price form_control" disabled>
                    </td>
                    <td align="right">$<span id="amount" class="amount">0</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td align="right"><strong>TOTAL = $ <span id="total" class="total">0</span></strong></td>
                </tr>
                
            </tfoot>
        </table>
    </div>
</section>
<script src="./shop.js"></script>