<form class="form-group" [formGroup]="formGroup">
    <div class="form-field">
        <mat-form-field>
              <input placeholder="Look" type="text" matInput formControlName="look" required>
              <mat-error *ngIf="f.look?.errors?.required">Input is required</mat-error>
        </mat-form-field>
    </div>

    <div class="form-field">
        <mat-form-field>
              <input placeholder="Model" type="text" matInput formControlName="model" required>
              <mat-error *ngIf="f.model?.errors?.required">Input is required</mat-error>
        </mat-form-field>
    </div>

    <div class="form-field">
        <mat-form-field>
              <input placeholder="Price" type="text" matInput formControlName="price" required>
              <mat-error *ngIf="f.price?.errors?.required">Input is required</mat-error>
        </mat-form-field>
    </div>
</form>
