<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Watch</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <div>
        <h1>Add New Watch</h1>
        <br/>
        <form action="#" th:action="@{/toadd}" th:object="${watch}" method="post">
            <table cellpadding="10">
                <tr>
                    <td>Watch Look:</td>
                    <td><input type="text" th:field="*{look}"/></td>
                </tr>
                <tr>
                    <td>Watch Model:</td>
                    <td><input type="text" th:field="*{model}"/></td>
                </tr>
                <tr>
                    <td>Watch Price:</td>
                    <td><input type="text" th:field="*{price}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Add</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>