<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
    <h1>Watches Manager</h1>

    <a href="toadd" class="add">Add New Watch</a>

    <table cellpadding="20">
        <thead>
            <tr>
                <th>Watch ID</th>
                <th>Look</th>
                <th>Model</th>
                <th>Price</th>
                <th>To Do</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="watch : ${listWatches}">
                <td th:text="${watch.id}">Watch ID</td>
                <td><img th:src="${watch.look}" width="150" height="150"/></td>
                <td th:text="${watch.model}">Model</td>
                <td th:text="${watch.price}">Price</td>
                <td>
                    <a th:href="@{/update/{id}(id=${watch.id})}">Update</a>
                    <br/><br/>
                    <a th:href="@{/delete/{id}(id=${watch.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>