<header>
    <div class="logo"><img src="assets/logo.png" alt="Logo"></div>
    <i class='bx bx-menu' id="menu_icon"></i>
    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#cart">Shop</a></li>
        <li><a href="#team">Our Team</a></li>
    </ul>
    <div class="header_icon">
        <a href="#cart"><i class='bx bx-cart'></i></a>
        <i class='bx bx-search-alt' id="search_icon"></i>
    </div>
    <div class="search_box">
        <input type="search" name="" id="" placeholder="Search here">
    </div>
</header>

<section class="home" id="home">
    <div class="home_text">
        <h1>Charged with precision. Tested for durability</h1>
        <p>Choose the way live your life with us</p>
        <a href="#cart" class="btn">Shop now</a>
    </div>
    <div class="home_img">
        <img src="assets/formenu.png" alt="Main" height="500">
    </div>
</section>