<section class="team" id="team">
    <div class="heading">
        <h2>Our team</h2>
    </div>
    <div class="team_container">
        <div class="box">
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <p>
                Jhonny is our provider. He has been with us since 2016 and he still
                fixes out us with the newest and the best stuff
            </p>
            <h2>Jhonny Jordan</h2>
            <img src="assets/pers1.png">
        </div>
        <div class="box">
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <p>
                Amily is our administrator. Her father is a soldier and once she
                decided to help him and his colleagues, she started her business with
                military watches
            </p>
            <h2>Amily Collins</h2>
            <img src="assets/pers2.png">
        </div>
        <div class="box">
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <p>
                Chris is our media person. He advertises our site, makes blurbs,
                leads our media platforms and just makes this world more beautiful
            </p>
            <h2>Chris Wickhem</h2>
            <img src="assets/pers3.png">
        </div>
    </div>
</section>