<section class="about" id="about">
    <div class="about_img">
        <img src="assets/about.png" alt="Intro">
    </div>
    <div class="about_text">
        <h2>Our story</h2>
        <p>
            Among all the companies focused on the sale of watches, ours stands out
            because it sells special purpose watches. Namely, tactical watches.
        </p>
        <p>
            Our sales idea lies in the variety of areas of use of watches.
            Everyone is already used to the monotony of products, so we decided to
            create something new and for any area of our live
        </p>
    </div>
</section>